* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    /* border: 2px solid black; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    font-size: 2em;
    color: black;
}

.navbar img {
    margin-left: 3em;
    width: 70px;
    /* filter: invert(100%); */
}

.nscnd {
    margin: 3px;
    width: 70%;
}

.push {
    margin-left: auto;
}

a:hover {
    color: red;
}


/* FIRST PAGE */
.FstPage {
    height: 80vh;
    /* border: 2px solid black; */
    background-color: rgba(0, 0, 0, 0.773);
    display: flex;
    justify-content: center;
    align-items: center;
}

.FstPage img {
    height: 70vh;
}

/* SECOND PAGE */
.scndPage {
    /* border: 2px solid black; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    padding: 15px;
    /* background-color: rgba(0, 0, 0, 0.773); */
}

.box {
    /* border: 2px solid black; */
    height: 40vh;
    width: 100%;
    background: #444;
}

.one h1,
p {
    text-align: center;
    color: white;
}

.two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.two img {
    height: 25vh;
    width: 100%;
}

/* THIRD PAGE */
.thrd {
    background: #444;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    /* width: 100vh; */
}

.thrd img {
    height: 50vh;
    border-radius: 20px;
}

.form1 {
    margin: 10px;
    height: 52vh;
    font-size: large;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(209, 209, 252);
}

.form input {
    margin: 15px 10px;
    /* font-size: large; */
}

.btn {
    margin: 10px;
    width: 30%;
    font-size: large;
}

div.frth {
    padding: 20px;
    text-align: left;
}

div.frth img {
    height: 50px;
    width: 50px;
}